@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rajdhani&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body: #807ece;
  --container: #2d2a37;
  --btn-calculate: #7f45e2;
  --color-text01: #975dfa;
  --color-text02: #ebebeb;
}

body {
  background: var(--body);
}

p {
  display: flex;
}

.container {
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container);
  height: 500px;
  border-radius: 1rem;
}


#tipsForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  padding-top: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  background-color: var(--btn-calculate);
  color: var(--color-text02);
}

.title-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label {
  color: var(--color-text02);
  margin-top: 1.7rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.formInput {
  width: 150px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}


#serviceQual {
    width: 200px;
    padding: 10px;
}

.formSubmit {
    background-color: var(--btn-calculate);
    color: var(--color-text02);
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
}

p{
    color: white;
}


div#totalTip {
    position: absolute;
    bottom: 10px;
    
    left: 50%;
    transform: translate(-50%);
}

.paragraph-result {
    padding-top: 4rem;
    font-family: 'Lato', sans-serif;
}
